<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div>
    <article>
        {% with message = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </article>
</div>
{% block menu %}
    <h5>
        <a href="#" onclick="update_values()">Start measurer</a>
    </h5>
    <h5>
        <a href="{{ url_for('turnonheating') }}">turn on heating</a>---
        <a href="{{ url_for('turnoffheating') }}">turn off heating</a>
    </h5>
    <h5>
        <a href="{{ url_for('turnonpump') }}">turn on pump</a>---
        <a href="{{ url_for('turnoffpump') }}">turn off pump</a>
    </h5>
    <h5>
        <a href="{{ url_for('runmaintainer') }}">run maintainer</a>---
        <a href="{{ url_for('stopmaintainer') }}">stop maintainer</a>
    </h5>
    <h5>
        <form action="{{ url_for('settemptomaintain') }}" method="POST">
            <span>
                <input type="number" name=temp value={{tempToMaintain}}>
                <input type=submit value="set temp to maintain">
            </span>
        </form>
    </h5>
    <h5>
        <form action="{{ url_for('settempdebug') }}" method="POST">
            <span>
                <input type="number" name=temp value={{tempToDebug}}>
                <input type=submit value="set temp debug">
            </span>
        </form>
    </h5>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>