<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type=text/javascript src="{{url_for('static', filename='jq.min.js') }}"></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div>
    <article>
        {% with message = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </article>
</div>
{% block menu %}
    <h5>
        <a href="#" onclick="update_values()">Start measurer</a>
    </h5>
    <h5>
        <a href="#" onclick="fetch('/turnonheating')">turn on heating</a>---
        <a href="#" onclick="fetch('/turnoffheating')">turn off heating</a>
    </h5>
    <h5>
        <a href="#" onclick="fetch('/turnonpump')">turn on pump</a>---
        <a href="#" onclick="fetch('/turnoffpump')">turn off pump</a>
    </h5>
    <h5>
        <a href="#" onclick="fetch('/runmaintainer')">run maintainer</a>---
        <a href="#" onclick="fetch('/stopmaintainer')">stop maintainer</a>
    </h5>
    <h5>
        <div>
            <span>
                <input type="number" id='tempToMaintain'>
                <input type="button" onclick="$.ajax({ url: '/settemptomaintain', data: {temp: $('#tempToMaintain').val()}, type: 'POST'})" value="set temp to maintain">
            </span>
        </div>
    </h5>
    <h5>
        <div>
            <span>
                <input type="number" id='settempdebug'>
                <input type="button" onclick="$.ajax({ url: '/settempdebug', data: {temp: $('#settempdebug').val()}, type: 'POST'})" value="set temp to debug">
            </span>
        </div>
    </h5>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>